main {
    display: flex;
    justify-content: center;
}

.todo-box {
    background-color: #e8e8e8;
    width: 900px;
    height: 700px;
    border-radius: 30px;
}

.todo-form {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    margin: 20px 40px;
    border-radius: 30px;
}

.todo-list {
    display: flex;
    justify-content: center;
}

.pending-div,
.finish-div {
    background-color: #ffffff;
    width: 400px;
    height: 600px;
    margin: 10px;
    text-align: center;
    border-radius: 30px;
}